/* Remove default html margin, padding and assign box-sizinz as border-box to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #47474d;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}


.city-search-form-container{
    display: flex;
    flex-wrap: wrap;
   /* flex-direction: column;*/
   justify-content: space-between;
    
}

.city-form-container{
    margin-bottom: 10px;
}

#city-name {
    height:35px;

}

input:focus, textarea:focus, select:focus {
outline-offset: 0px !important;
outline: none !important;
}


#city-name input:focus {
    box-shadow: 0 0 10px dodgerblue !important;
    -moz-box-shadow: 0 0 3px green !important;
    -webkit-box-shadow: 0 0 3px green !important;
}
    

.btn {
    
    font-size: 1.5em;
    text-decoration:none;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
 /*
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
    */
    margin-bottom: 6px;
  }

  .fa-search:hover{
    color: #FFD700;
  }


  .borderDiv {
    background-color: white;
    padding-left: 10px;
    margin-bottom: 18px;  
    border:groove rgba(102, 102, 153, 0.2);
  

  }
    

.forcast-padding {
    padding-bottom: 10px;
}

